@font-face {
    font-family: Borg;
    src: url('/css/font/BorgSansMono.ttf');
}

@font-face {
    font-family: Lucida Grande;
    src: url('/css/font/LucidaGrande.ttf');
}

@font-face {
    font-family: "segoe ui";
    src: url('/css/font/segoe-ui/Segoe UI.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "segoe ui";
    src: url('/css/font/segoe-ui/Segoe UI Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "segoe ui";
    src: url('/css/font/segoe-ui/Segoe UI Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: "segoe ui";
    src: url('/css/font/segoe-ui/Segoe UI Bold Italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('/css/font/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url('/css/font/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url('/css/font/Roboto/Roboto-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('/css/font/Roboto/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('/css/font/Roboto/Roboto-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: Roboto-Condensed;
    src: url('/css/font/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: Roboto-Condensed;
    src: url('/css/font/Roboto_Condensed/RobotoCondensed-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Roboto-Condensed;
    src: url('/css/font/Roboto_Condensed/RobotoCondensed-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto-Condensed;
    src: url('/css/font/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Cantarell;
    src: url('/css/font/Cantarell/Cantarell-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Cantarell;
    src: url('/css/font/Cantarell/Cantarell-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Cantarell;
    src: url('/css/font/Cantarell/Cantarell-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Cantarell;
    src: url('/css/font/Cantarell/Cantarell-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

html, body
    font-family: "Segoe UI", "Roboto", "Cantarell", "Lucida Grande", "微软雅黑", "Helvetica Neue", sans-serif

main
    flex: 1 0 auto;

canvas
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;

video
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;

iframe
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

object
    max-width: 640px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

figcaption
    display: block; /* 确保标题单独一行 */
    margin: 0.5em auto 2em;/* 调整标题与图片的间距 */
    font-size: 0.8em; /* 调整标题字体大小 */
    color: #666; /* 调整标题颜色 */
    max-width: 75%
    overflow-wrap: break-word
    text-align: left;